/.gitattributes export-ignore
/Build export-ignore
/Documentation export-ignore
/Examples export-ignore
/unitTests export-ignore
/install.txt export-ignore
/license.md export-ignore
/changelog.txt export-ignore